SUBSYSTEM=="input", ATTRS{name}=="goodix-ts", ENV{ID_INPUT}="1", ENV{ID_INPUT_TOUCHSCREEN}="1", ENV{LIBINPUT_CALIBRATION_MATRIX}="1.06 0 -0.03 0 1 0 0 0 1"
